@charset "utf-8";
/* =========1. contents======== */
.contents {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 120px;
}
.contents-inner {
  position: relative;
  display: flex;
  width: 90%;
  max-width: 1055px;
  z-index: 1;
  margin: auto;
  margin-top: 5%;
}
/* ======왼쪽-text========= */
.contents-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  z-index: 2;
}
.contents-text p {
  line-height: 1.5;
}
.contents-bt {
  width: 300px;
  height: 50px;
  border: 0;
  border-radius: 40px;
  background-color: #ffc72c;
  font-family: "Roboto";
  font-weight: 800;
  font-size: 16px;
}
/* =====오른쪽-img====== */
.contents-img {
  position: relative;
  width: 60%;
  min-width: 300px;
  margin-left: 40%;
}
.contents-img > img {
  width: 100%;
  object-fit: cover;
}