@charset "utf-8";

/* 기본 폰트 크기 설정 */
html {
  font-size: 16px; /* 1rem = 16px */
}

h1 {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 2.8125rem; /* 45px */
  letter-spacing: 0.0625rem; /* 1px */
}

p {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1rem; /* 16px */
  line-height: 1.2;
  letter-spacing: 0.0625rem; /* 1px */
}

/* 화면 너비 576px 이하 */
@media screen and (max-width: 576px) {
  html {
    font-size: 15px; /* 기본 폰트 크기 줄임 */
  }
  h1 {
    font-size: 2.5rem; /* 40px */
  }
  p {
    font-size: 1rem; /* 16px */
  }
}

/* 화면 너비 390px 이하 */
@media screen and (max-width: 390px) {
  html {
    font-size: 13px;
  }
  h1 {
    font-size: 1.375rem; /* 22px */
  }
  p {
    font-size: 0.875rem; /* 14px */
  }
}