@charset "utf-8";
/* =========menu======== */
  .menu {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 5%;
  }
  .menu-inner {
    position: relative;
    display: block;
    width: 90%;
    max-width: 1055px;
    z-index: 1;
    margin: auto;
    /* background-color: #fc837a; */
  }
  /* 상단 텍스트 */
  .menu-textgroup {
    padding: 10px 0;
  }
  .menu-text1 {
    display: flex;
    align-items: flex-end;
    gap: 15px;
    /* background-color: #9c9c9c; */
  }
  .menu-text2 {
    padding-top: 10px;
    /* background-color: #ffc72c; */
  }
  
  /* 하단 swiper  */
  .menuSwiper {
  }
  .menuSwiper .swiper-slide {
    display: flex;
    align-items: flex-end;

  }
  .menuSwiper .swiper-slide img {
    width: 100%;
    border-radius: 5%;
  }
  .menuSwiper .swiper-pagination {
  }
  /* 하단 swiper-하단 설명칸 */
  .menuSwiper .prosw-txt {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: center;
  }
  .menuSwiper .prosw-txt > p:first-child{
    font-size: 16px;
    font-weight: bold;
  }
  .menuSwiper .prosw-txt > p:last-child{
    font-size: 12px;
  }
  