@charset "utf-8";
@media screen and (max-width: 1920px) {
  .mb-xi {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .banner .swiper-slide {
    height: 450px;
    /* 화면 크기에 맞춰 높이 조정 */
  }
}
@media screen and (max-width: 1140px) {
}
@media screen and (max-width: 992px) {
  .banner .swiper-slide {
    aspect-ratio: 1 / 0.8;
    /* height: 400px;  */
  }
  .top-btn-wrap {
    display: none;
  }
  .footer-icon {
    display: flex;
    padding-top: 0%;
  }
}
@media screen and (max-width: 768px) {
  .top-btn-wrap {
    display: none;
  }
  /* 메뉴 */
  .nav .gnb {
    display: none;
  }
  .butten-group {
    display: none;
  }
  /* 모바일메뉴 */
  .mb-xi {
    display: block;
  }
  .mobile-nav {
    display: block;
  }
  /* 콘텐츠 */
  .contents {
    height: 550px;
  }
  .contents-inner {
    padding-top: 10%;
  }
}
@media screen and (max-width: 623px) {
  .footer-inner {
    flex-direction: column;
  }
  .footer-left {
    margin-top: 10%;
  }
}
@media screen and (max-width: 576px) {
  .banner .swiper-slide {
    width: 100%;
    background-color: aqua;
    /* height: 300px; */
    /* 모바일 화면에 맞춰 높이 조정 */
  }
  .banner .swiper-slide .img {
    display: none;
  }
  .banner .swiper-slide {
    height: 79.36vw;
  }
  .banner .swiper-slide .mb_img {
    width: 100%;
    height: 100%;
    display: block;
  }

  .banner .swiper-button-prev::after,
  .banner .swiper-button-next::after {
    display: none;
  }
  .contents {
    height: 550px;
  }
  .contents-inner {
    padding-top: 120px;
  }
  .contents-img {
    position: relative;
    top: -83px;
  }
}
@media screen and (max-width: 450px) {
  .contents {
    height: 600px;
  }
  .contents-inner {
    padding-top: 200px;
  }
  .footer-right {
    flex-direction: column;
    gap: 30px;
  }
}
@media screen and (max-width: 390px) {
  .contents-inner {
    padding-top: 250px;
  }
  .banner {
    margin-top: 0;
  }
}
