@charset "utf-8";
@media screen and (max-width: 1920px) {
  .mb-xi {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .banner .swiper-slide {
    height: 450px;
    /* 화면 크기에 맞춰 높이 조정 */
  }
  .top-btn-wrap {
    right: 0%;
  }
}
@media screen and (max-width: 1140px) {
  .top-btn-wrap {
    right: 0%;
  }
}
@media screen and (max-width: 992px) {
  .banner .swiper-slide {
    aspect-ratio: 1 / 0.8;
    /* height: 400px;  */
  }
  .top-btn-wrap {
    display: none;
  }
  .footer-icon {
    display: flex;
    padding-top: 0%;
  }
}
@media screen and (max-width: 768px) {
  .top-btn-wrap {
  }
  /* 메뉴 */
  .nav .gnb {
    display: none;
  }
  .butten-group {
    display: none;
  }
  /* 모바일메뉴 */
  .mb-xi {
    display: block;
  }
  .mobile-nav {
    display: block;
  }
  /* 콘텐츠 */
  .contents {
    height: 550px;
  }
  .contents-inner {
    padding-top: 10%;
  }
  .contents > .contents-inner > .contents-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .contents-img {
    position: relative;
    width: 60%;
    margin-left: 48%;
  }
}
@media screen and (max-width: 623px) {
  /* contents */
  .contents {
    height: 550px;
    margin-bottom: 40%;
  }
  .contents-inner {
    padding-top: 0%;
  }
  .contents > .contents-inner > .contents-text {
    width: 100%;
  }
  .contents-img {
    position: relative;
    top: 233px;
    width: 70%;
    margin-left: auto;
    display: block;
  }
  .contents-img > img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  /* footer */
  .footer-inner {
    flex-direction: column;
  }
  .footer-left {
    margin-top: 10%;
  }
}
@media screen and (max-width: 576px) {
  /* contents */
  .contents {
    height: 550px;
  }

  /* banner */
  .banner .swiper-slide {
    width: 100%;
    background-color: aqua;
    /* height: 300px; */
    /* 모바일 화면에 맞춰 높이 조정 */
  }
  .banner .swiper-slide .img {
    display: none;
  }
  .banner .swiper-slide {
    height: 79.36vw;
  }
  .banner .swiper-slide .mb_img {
    width: 100%;
    height: 100%;
    display: block;
  }

  .banner .swiper-button-prev::after,
  .banner .swiper-button-next::after {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .contents {
    height: 600px;
  }
  .contents-inner {
    padding-top: 10%;
  }
  .footer-right {
    flex-direction: column;
    gap: 30px;
  }
}
@media screen and (max-width: 390px) {
  /* 탑버튼 */
  .top-btn-wrap {
  }
  /* 메뉴상단 아이콘 */
  .header > .header-inner > .logo {
    width: 44px;
  }
  .header > .header-inner > .logo > a > img {
    width: 100%;
    height: 100%;
  }
  .header > .header-inner > .mb-xi {
    width: 38px;
  }
  .header > .header-inner > .mb-xi > img {
    width: 100%;
    height: 100%;
  }
  .header::before {
    height: 100px;
  }
  /* contents */
  .contents-inner {
    padding-top: 0%;
  }
  .contents > .contents-inner > .contents-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .contents > .contents-inner > .contents-text > h1 {
    font-size: 3rem;
  }
  .contents-img {
    width: 100%;
  }
  .contents-img > img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  /* banner */
  .banner {
    margin-top: 0;
  }
  /* footer */
  .footer {
    margin-top: 15%;
  }
}
