@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

ul,li {
  list-style: none;
  text-decoration: none;
}

/* =========전체레이아웃======== */
.container {
}

h1 {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 50px;
}
p {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

/* =========header======== */
.header {
  position: fixed;
  width: 100%;
  height: 120px;
  z-index: 999;
  /* overflow: hidden; */
  transition: all 0.5s;
  margin: auto;
  background-color: #fff;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  box-shadow: 5px 15px 30px rgba(50, 50, 50, 0.05);
}
.header_bg {
  position: absolute;
  display: none;
  top: 120px;
  left: 0;
  width: 100%;
  height: 330px;
  box-shadow: 5px 15px 30px rgba(50, 50, 50, 0.05);
  background-color: #fff;
}
.line {
  width: 100%;
  height: 30px;
  background-color: #ffc72c;
  text-align: center;
  padding: 5px;
  color: #fff;
  z-index: 9999;
}
/* ===header-inner=== */
.header-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
  max-width: 1055px;
  gap: 10px;
  z-index: 1;
  margin: auto;
}
/* 로고 */
.header-inner > .logo img {
  width: 60px;
  height: 60px;
}
/* 메뉴 */
.nav {
  position: relative;
  width: 60%;
}
.nav > .gnb {
  display: flex;
  width: 100%;
  height: 70px;
}
.gnb > li {
  width: calc(100% / 4);
}
.gnb > li:hover > a {
  color: #da291c;
}
.gnb > li > a {
  font-size: 20px;
  font-weight: 600;
  line-height: 70px;
}

/* depth2 */

.depth2 {
  position: relative;
  width: 100%;
  display: none;
  z-index: 99999;
  padding: 0, 10px;
}
.depth2 > li:hover > a {
  color: #da291c;
}
.depth2 > li > a {
  font-size: 17px;
  font-weight: 600;
  line-height: 40px;
  color: #9c9c9c;
}

/* 버튼 */
.butten-group {
  position: relative;
  display: flex;
  gap: 10px;
}
.butten-group > .store {
  width: 110px;
  height: 35px;
  padding: 5px;
  border-radius: 25px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 22px;
  background-color: #da291c;
}
.butten-group > .eng {
  width: 110px;
  height: 35px;
  padding: 5px;
  border-radius: 25px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 22px;
  background-color: #264a36;
}

/* =========main======== */
.main {
  position: relative;
  width: 100%;
  height: 800px;
  padding-top: 120px;
  /* background-color: blue; */
}
.main-inner {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1055px;
  padding: 15px;
  z-index: 1;
  margin: auto;
  /* background-color: #da291c; */
}
/* main-text */
.main-text {
  position: absolute;
  top: 30%;
  width: 50%;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}
/* main-img */
.main-img {
  position: absolute;
  right: -50%;
  top: 8%;
  width: 100%;
  /* background-color: #6d6d6d; */
}
.main-img > img {
  width: 75%;
}
/* main-bt */
.main-bt {
  width: 300px;
  height: 50px;
  border: 0;
  border-radius: 40px;
  background-color: #ffc72c;
  font-family: "Roboto";
  font-weight: 800;
  font-size: 16px;
}
/* =========banner======== */
.banner {
  position: relative;
  width: 100%;
  height: 540px;
  background-color: blueviolet;
}
/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 100%;
  height: 540px;
  min-height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* swiper-버튼 */
.swiper-button-prev::after,
.swiper-button-next::after {
  color: #fff;
  padding: 25px 35px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}
.swiper-button-prev::after{
  border-radius: 0px 20px 20px 0px;
}
.swiper-button-next::after{
  border-radius: 20px 0px 0px 20px;
}
/* =========promotion======== */
.promotion {
  width: 100%;
  height: 740px;
  background-color: aquamarine;
}
.promotion-inner {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1055px;
  padding: 15px;
  z-index: 1;
  margin: auto;
  background-color: #fc837a;
}
/* 상단 텍스트 */
.pro-textgroup{
  position: absolute;
  top: 15%;
  left: 0;
}
.pro-text1{
  display: flex;
  align-items: flex-end;
  gap: 15px;
  /* background-color: #9c9c9c; */
}
.pro-text2{
  padding-top: 30px;
  /* background-color: #ffc72c; */
}

/* swiper  */
.swiper {
  width: 100%;
  height: 100%;
}
.proSwiper {
  width: 100%;
  height: 60%;
  position: absolute;
  top: 32%;
  left: 0;
  display: flex;
  align-items: flex-end;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination{
  background-color: #fc837a;
}
/* =========menu======== */
.menu {
  width: 100%;
  height: 710px;
  /* background-color: brown; */
}
/* =========footer======== */
.footer {
  width: 100%;
  height: 290px;
  /* background-color: yellow; */
}
